{% extends "base.html" %}
{% load static %}

{% block css_files %} 
<link rel="stylesheet" href="{% static 'konsept.css' %}">
{% endblock %}

{% block title %}E-Katalog{% endblock %}

{% block content %}

    <h1 style="color:antiquewhite; margin-top: 80px; margin-left:530px;"> Konsept Tasarımlar</h1>


    <div class="card mb-3" style="max-width: 1238px; margin-left:250px; margin-top:50px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\1.png' %}" class="img-fluid rounded-start" style="max-height: 800px; object-fit: cover;" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Kent Panorama Evleri</h5>
              <p class="card-text">Projemiz Antakya'nın en güzel manzarasına sahip Hatay,Defne Dursunlu'da konumlanmıştır. Projemiz 19 adet tek tip villadan ve 1 adet ortak yüzme havuzunu içinde barındıran sosyal ve yeşil alanlardan oluşmaktadır. 
                Ters girişli villa modeli ile tasarlanmıştır. Zemin kattan giriş olup zeminden aşağıda 2 adet yaşam katı ve üstünde 1 adet çatı katı olmak üzere toplam 4 kattan oluşmaktadır.
                Tek villa toplam 339 metrekare kapalı alana sahiptir. 6 ader oda, 1 adet salon, 1 adet açık mutfak, 1 adet kapalı mutfak, 3 adet banyo, 1 adet wc ve 1 adet terastan oluşmaktadır.
                Yapı taşıyıcı sistemi tamamen kaya üzerine oturtulmuş olup güvenli bir yapı oluşturulması temel edilmiştir. Daha detaylı mahal listesi ve kullanılacak marka bilgileri için sizleri şantiyeye bekleriz. 
              </p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
        </div>
      </div>
    
            <div class="container" style="margin-left:200px;">
              <div class="row">
                <div class="col-md-4">
                  <div class="card bg-dark text-white" style="height: 350px; margin: 20px auto;">
                    <img src="{% static 'img/Kent Panorama iç mimari/1.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
                    
              </div>
             </div>
            <div class="col-md-4">
            <div class="card bg-dark text-black" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/2.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
              </div>
              </div>
             <div class="col-md-4">
             <div class="card bg-dark text-white" style="height: 350px; margin: 20px auto;">
             <img src="{% static 'img/Kent Panorama iç mimari/3.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">             
            </div>
          </div>
        </div>
      </div>
      <div class="container"style="margin-left:200px;">
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-dark text-white" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/4.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-dark text-black" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/5.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
  
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-dark text-white" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/6.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
             
            </div>
          </div>
        </div>
      </div>
      <div class="container"style="margin-left:200px;">
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-dark text-white" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/7.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-dark text-black" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/8.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
  
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-dark text-white" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/9.jpg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
             
            </div>
          </div>
        </div>
      </div>
      <div class="container"style="margin-left:200px;">
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-dark text-white" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/10.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-dark text-black" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/11.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
  
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-dark text-white" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/12.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
             
            </div>
          </div>
        </div>
      </div>
      <div class="container"style="margin-left:200px;">
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-dark text-white" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/13.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-dark text-black" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/14.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
  
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-dark text-white" style="height: 350px; margin: 20px auto;">
              <img src="{% static 'img/Kent Panorama iç mimari/15.jpeg' %}" class="card-img" alt="..." style="height: 100%; width: auto; object-fit: cover;">
             
            </div>
          </div>
        </div>
      </div>
      
     
   

 
{% endblock %}

{% block js_files %} 
<script src="{% static 'js/script.js'%}"></script>
{% endblock %}