{% extends "base.html" %}
{% load static %}

{% block css_files %} 
<link rel="stylesheet" href="{% static 'projePlani.css' %}">
{% endblock %}

{% block title %}Vaziyet Planı{% endblock %}

{% block content %}

    <h1 style="color:antiquewhite; margin-top: 80px; margin-left:650px;"> Vaziyet Planı</h1>


    <div class="card mb-3" style="max-width: 1238px; margin-left:250px; margin-top:50px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\1.png' %}" class="img-fluid rounded-start" style="max-height: 800px; object-fit: cover;" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Kent Panorama Evleri</h5>
              <p class="card-text">Projemiz Antakya'nın en güzel manzarasına sahip Hatay,Defne Dursunlu'da konumlanmıştır. Projemiz 19 ader tek tip villadan ve 1 adet ortak yüzme havuzunu içinde barındıran sosyal ve yeşil alanlardan oluşmaktadır. 
                Ters girişli villa modeli ile tasarlanmıştır. Zemin kattan giriş olup zeminden aşağıda 2 adet yaşam katı ve üstünde 1 adet çatı katı olmak üzere toplam 4 kattan oluşmaktadır.
                Tek villa toplam 339 metrekare kapalı alana sahiptir. 6 ader oda, 1 adet salon, 1 adet açık mutfak, 1 adet kapalı mutfak, 3 adet banyo, 1 adet wc ve 1 adet terastan oluşmaktadır.
                Yapı taşıyıcı sistemi tamamen kaya üzerine oturtulmuş olup güvenli bir yapı oluşturulması temel edilmiştir. Daha detaylı mahal listesi ve kullanılacak marka bilgileri için sizleri şantiyeye bekleriz. 
              </p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
        </div>
      </div>
 

      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 10"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="10" aria-label="Slide 11"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="11" aria-label="Slide 12"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="12" aria-label="Slide 13"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="13" aria-label="Slide 14"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="14" aria-label="Slide 15"></button>

        </div>
        <div class="carousel-inner">
          
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\1.png' %}" class="d-block w-100 h-auto" style="max-height:800px ; object-fit: cover;" class="d-block w-100" alt="...">
            
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\2.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\3.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\4.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\5.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\6.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\7.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\8.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\9.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\10.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\11.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\12.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\13.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\14.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'img\KENT PANORAMA VİLLALARI PLAN png\15.png' %}" class="d-block w-100 h-auto" style="max-height: 800px; object-fit: cover;" class="d-block w-100" alt="...">

          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
   

 
{% endblock %}

{% block js_files %} 
<script src="{% static 'js/script.js'%}"></script>
{% endblock %}